label {
    margin-top: 2ex;
}

textarea {
    margin-top: 2ex;
}

.c {
    color: red;
}

.b {
    background-color: orange
}

.a1 {
    text-align: center
}

.d {
    color: blue;
    text-align: center;
    text-decoration: underline;
}