label {
    margin-top: 2ex;
}

textarea {
    margin-top: 2ex;
}

.c {
    color: red;
}

.b {
    background-color: orange
}

.a1 {
    text-align: center
}

#f1 {
    border: lightblue 3px solid
}

#f2 {
    border: palevioletred 3px solid
}